.review-item {
  display: flex;
  align-items: center;
  border: 1px solid #95ada7;
  padding: 8px;
  width: 570px;
  height: 105px;
  margin: 21px auto;
  border-radius: 8px;
}

.review-item img {
  width: 91px;
  height: 91px;
}

.review-details-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 17px;
  justify-content: space-between;
}

.review-details p {
  margin: 0;
}

.btn-delete {
  width: 55px;
  height: 55px;
  background-color: rgba(235, 87, 87, 0.3);
  border: none;
  border-radius: 50%;
}

.btn-delete:hover {
  background-color: rgba(235, 87, 87, 0.5);
  cursor: pointer;
}

.delete-icon {
  font-size: 31px;
  color: #eb5757;
}
